@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Everything below this comment are type selectors for specific elements */

body {
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border-radius: 100px;
    border-color: white;
    border-style: solid;
}

/* Everything below the comment is for the "top" area */

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 48px;
    margin-bottom: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.logo {
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

.header-links {
    display: flex;
    gap: 16px;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 84px;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.intro-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.intro-image {
    height: 400px;
    width: auto;
}

/* Everything below the comment is for the "info" area */

.infoboxes-sec {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding: 32px;
    margin-bottom: 200px;
}

.infoboxes-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 32px;
}

.infoboxes {
    display: flex;
    justify-content: center;
    width: 500px;
    gap: 30px
}

.infobox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.box {
    height: 266px;
    width: 266px;
    margin-bottom: 8px; 
    border: 2px solid #3882F6;
    border-radius: 10%;
    padding: 8px;
}

/* Everything below the comment is for the "quote" area */

.quote-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 150px;
    gap: 8px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.the-quoted {
    font-weight: 700;
}

/* Everything below the comment is for the "action" area */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.action-box {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: #3882F6;
    width: 852px;
    border-radius: 25px;
}

.action-words {
    color: white;
}

/* Everything below the comment is for the "footer" area */

.footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}